//******
//COLORS
//******
$color_background: #f2f2f2;
$color_main_darkgray: #212327;
$color_secondary_gray: #4c4e51;
$color_lightgray: #a3a3a3;
$color_gray_stars: #787878;
$color_black: #111;

//**********
//BREAKPOINTS
//**********
$LargeDesktop: 1440px;
$Desktop: 1200px;
$Laptop: 950px;
$Tablet: 768px;
$Mobile: 400px;

//**********
//FONT-SIZES
//**********
$font_XXS: 0.70rem;
$font_XS: 0.85rem;
$font_S: 1rem;
$font_M: 1.25rem;
$font_L: 1.5rem;
$font_XL: 2rem;
$font_XXL: 2.5rem;
$font_XXXL: 3rem;