@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  min-height: 100vh;
  font-family: 'Catamaran', sans-serif;
  scroll-behavior: smooth;
  background-color: #f2f2f2;
}

.Border-bottom {
  border-bottom: 0.5px solid #a3a3a3;
}

.Border-right {
  border-right: 0.5px solid #a3a3a3;
}

.Main-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Container-1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Container-2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Container-3 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Container-3-1 {
  -ms-flex-preferred-size: 6%;
      flex-basis: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Back-to-catalogue-up {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Back-to-catalogue-up a {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  color: #4c4e51;
  text-decoration: none;
  font-family: 'Catamaran', sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

.Share-link-down {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Share-link-down a {
  color: #212327;
}

.Container-3-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Clothes-detailes-up {
  height: 85%;
  padding: 20px;
}

.Clothes-size-down {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Clothes-size-picking {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5625rem;
}

.Clothes-size-loving {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Clothes-size-loving a {
  color: #4c4e51;
  text-decoration: none;
}

.Clothes-size-buying {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Clothes-size-buying button {
  border: none;
  outline: none;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.Container-3-3 {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Choose-up {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Choose-similar {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Choose-complete {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Choose-delivery-down {
  height: 15%;
  padding: 0 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul.Header-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 15px;
}

ul.Header-nav-ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li.Header-li {
  padding-right: 1.56rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

li.Header-li a {
  color: #4c4e51;
  text-decoration: none;
}

div.Header-links-left li.Header-li-right {
  margin-right: 0.87rem;
}

li.Header-li-right::after {
  content: '|';
  margin-left: 1.87rem;
}

img.Header-logo {
  width: 5.5rem;
}

div.Header-links-right li.Header-li-left {
  margin-left: 0.87rem;
}

li.Header-li-left::before {
  content: '|';
  margin-right: 1.87rem;
}

section.Gender {
  position: relative;
}

ul.Gender-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 15px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

ul.Gender-ul li.Gender-li a {
  color: #4c4e51;
  text-decoration: none;
}

ul.Gender-ul li.Gender-li-username a.Gender-links {
  padding-right: 1.25rem;
}

hr.Gender-small-hr {
  width: 10rem;
  border: 1px solid black;
  position: absolute;
  top: 50px;
}

.Clothes-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Clothes-title-left {
  width: 40%;
}

.Clothes-title-left p {
  font-size: 0.7rem;
  color: #4c4e51;
  padding: 0.3rem 0;
}

.Clothes-title-left h2 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
}

.Clothes-title-right {
  width: 60%;
  text-align: right;
}

.Clothes-title-right p {
  font-size: 0.7rem;
  color: #4c4e51;
  padding: 0.625rem 0;
}

.Clothes-title-right p span {
  background-color: #e9e9e9;
  padding: 3.5px;
  border-radius: 2px;
  margin: 0px 3px;
}

.Clothes-title-right h2 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
}

div#color-brown {
  width: 13px;
  height: 13px;
  background-color: brown;
  border-radius: 50%;
  margin: 8px 0;
}

div#color-gray {
  width: 13px;
  height: 13px;
  background-color: gray;
  border-radius: 50%;
  border: 2px white solid;
  -webkit-box-shadow: 0 0 0 1px gray;
          box-shadow: 0 0 0 1px gray;
}

.Clothes-slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Clothes-slideshow i {
  cursor: pointer;
  font-size: 1.25rem;
}

.Clothes-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Clothes-reviews-stars {
  color: gray;
  font-size: 0.7rem;
  cursor: pointer;
}

.Clothes-reviews-stars p {
  color: #212327;
  margin: 7px 0px;
}

.Clothes-reviews-slideshow-circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Circle {
  margin: 3px;
  width: 6px;
  height: 6px;
  background-color: #a3a3a3;
  border-radius: 50%;
}

.Active {
  background-color: #212327;
}

.Clothes-similar-link {
  color: #4c4e51;
  font-size: 1rem;
  text-decoration: none;
}

.Clothes-complete-link {
  color: #4c4e51;
  font-size: 1rem;
  text-decoration: none;
}

.Buy-size-label {
  color: #4c4e51;
  font-size: 0.85rem;
}

.Buy-select-menu {
  border: none;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.85rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #f2f2f2;
}

.Buy-delivery-label {
  color: #4c4e51;
  font-size: 0.85rem;
}

.Buy-delivery-menu {
  border: none;
  outline: none;
  font-size: 0.85rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #f2f2f2;
}
/*# sourceMappingURL=style.css.map */