@import './partials/resets';
@import './partials/variables';
@import './partials/mixins';

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;400;500;600&display=swap');

html,
body {
    min-height: 100vh;
    font-family: 'Catamaran', sans-serif;
    scroll-behavior: smooth;
    background-color: $color_background;
}


.Border-bottom {
    border-bottom: 0.5px solid $color_lightgray;
}

.Border-right {
    border-right: 0.5px solid $color_lightgray;
}

//CONTAINER LAYOUT FLEXBOX START//
.Main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Container-1 {
    flex-basis: 100%; //like width but for flexbox
    flex: 1;
}

.Container-2 {
    flex-basis: 100%; //like width but for flexbox
    flex: 1;
}

.Container-3 {
    flex-basis: 100%;
    flex: 10;
    display: flex;
    flex-direction: row;
}

.Container-3-1 {
    flex-basis: 6%;
    display: flex;
    flex-direction: column;
}

//Container 3-1 contents start
.Back-to-catalogue-up {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        writing-mode: vertical-lr;
        transform: scale(-1);
        color: $color_secondary_gray;
        text-decoration: none;
        @include font_catamaran_light($font_S);
    }
}

.Share-link-down {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: $color_main_darkgray;
    }
}

//Container 3-1 contents end
.Container-3-2 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

//Container 3-2 contents start
.Clothes-detailes-up {
    height: 85%;
    padding: 20px;
}

.Clothes-size-down {
    height: 15%;
    display: flex;
    flex-direction: row;
}

.Clothes-size-picking {
    flex-basis: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5625rem;
}

.Clothes-size-loving {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: $color_secondary_gray;
        text-decoration: none;
    }
}

.Clothes-size-buying {
    flex-basis: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        border: none;
        outline: none;
        @include font_catamaran_regular($font_S);
        cursor: pointer;
        font-weight: bold;
    }
}

//Container 3-2 contents end
.Container-3-3 {
    flex-basis: 44%;
    display: flex;
    flex-direction: column;
}

//Container 3-3 contents start
.Choose-up {
    height: 85%;
    display: flex;
    flex-direction: row;
}

.Choose-similar {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Choose-complete {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Choose-delivery-down {
    height: 15%;
    padding: 0 1.5625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//Container 3-3 contents end
//CONTAINER LAYOUT FLEXBOX END//


//HEADER START//
ul.Header-nav-ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 1.25rem;
    margin-bottom: 1.85rem;
    margin-left: 1.85rem;
    margin-right: 1.85rem;

    div {
        display: flex;
    }
}

li.Header-li {
    padding-right: 1.56rem;
    @include font_catamaran_light($font_S);

    a {
        color: $color_secondary_gray;
        text-decoration: none;
    }
}

div.Header-links-left li.Header-li-right {

    margin-right: 0.87rem;
}

li.Header-li-right::after {
    content: '|';
    margin-left: 1.87rem;
}

img.Header-logo {
    width: 5.5rem;
}

div.Header-links-right li.Header-li-left {
    margin-left: 0.87rem;
}

li.Header-li-left::before {
    content: '|';
    margin-right: 1.87rem;
}

//HEADER END//

//GENDER SECTION START//
section.Gender {
    position: relative;
}

ul.Gender-ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 1.85rem;
    @include font_catamaran_regular($font_S);

    li.Gender-li a {
        color: $color_secondary_gray;
        text-decoration: none;
    }

    li.Gender-li-username a.Gender-links {
        padding-right: 1.25rem;

    }
}
hr.Gender-small-hr {
    width: 10rem;
    border: 1px solid black;
    position: absolute;
    top: 49px;

}
//GENDER SECTION END//

.Clothes-title {
    display: flex;
    justify-content: space-between;
}

.Clothes-title-left {
    width: 40%;

    p {
        font-size: $font_XXS;
        color: $color_secondary_gray;
        padding: 0.3rem 0;
    }

    h2 {
        font-size: $font_M;
        font-weight: 700;
        letter-spacing: 0.08rem;

    }
}

.Clothes-title-right {
    width: 60%;
    text-align: right;

    p {
        font-size: $font_XXS;
        color: $color_secondary_gray;
        padding: 0.625rem 0;

        span {
            background-color: #e9e9e9;
            padding: 3.5px;
            border-radius: 2px;
            margin: 0px 3px;
        }
    }

    h2 {
        font-size: $font_M;
        font-weight: 700;
        letter-spacing: 0.08rem;

    }
}

div#color-brown {
    width: 13px;
    height: 13px;
    background-color: brown;
    border-radius: 50%;
    margin: 8px 0;
}
div#color-gray {
    width: 13px;
    height: 13px;
    background-color: gray;
    border-radius: 50%;
    border: 2px white solid;
    box-shadow: 0 0 0 1px gray;
}

.Clothes-slideshow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    i {
        cursor: pointer;
        font-size: $font_M;
    }
}

.Clothes-reviews {
    display: flex;
    justify-content: space-between;
   

}

.Clothes-reviews-stars {
    color: gray;
    font-size: $font_XXS;
    cursor: pointer;

    p {
        color: $color_main_darkgray;
        margin: 7px 0px;
    }
}

.Clothes-reviews-slideshow-circles {
    display: flex;
    justify-content: space-evenly;
}

.Circle {
    margin: 3px;
    width: 6px;
    height: 6px;
    background-color: $color_lightgray;
    border-radius: 50%;
}

.Active {
    background-color: $color_main_darkgray;
}

.Clothes-similar-link {
    color: $color_secondary_gray;
    font-size: $font_S;
    text-decoration: none;
}

.Clothes-complete-link {
    color: $color_secondary_gray;
    font-size: $font_S;
    text-decoration: none;

}

.Buy-size-label {
    color: $color_secondary_gray;
    font-size: $font_XS;
}

.Buy-select-menu {
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: $font_XS;
    font-weight: bold;
    cursor: pointer;
    background-color: $color_background;
}

.Buy-delivery-label {
    color: $color_secondary_gray;
    font-size: $font_XS;
}

.Buy-delivery-menu {
    border: none;
    outline: none;
    font-size: $font_XS;
    font-weight: bold;
    cursor: pointer;
    background-color: $color_background;
}